.naukathreepostsection {
  overflow: hidden;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial;
  align-items: flex-end;
}
.naukafisttableimage {
  overflow: hidden;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial;
  align-items: flex-end;
}

.naukarighttableimage {
  overflow: hidden;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial;
  align-items: flex-end;
}

.naukabottomtabeimage {
  overflow: hidden;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial;
  align-items: flex-end;
}
